.body {
    width: 1607px;
    height: 1190px;
}

.main {
    display: flex;
}

.main-h1 {
    color: #FFAE00;
    font-family: RobotoSlab; 
    font-size: 35px;
    margin-left: 711px;
    margin-top: 114px;
}

.left-div {
    width: 515px;
    height: 395px;
    margin-left: 235px;
    margin-top: 40px;
}

.div-h3 {
    font-size: 24px;
    color: #FFAE00;
    padding-bottom: 30px ;
}

.left-div-p {
    font-family: Raleway,AdobeInvisFont,MyriadPro-Regular;
    color: #232323;
    font-size: 14px;
    padding-bottom: 60px;
}

.button {
    background-color: #FFAE00 ;
    color: white;
    width: 170px;
    height: 40px;
    border: 0px;
}

.right-div {
    width: 495px;
    height: 383px;
    margin-left: 68px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.line { 
    width: 462px;
    height: 35px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #FFAE00;
    border-style: solid;
    font-family: Raleway;
    margin-bottom: 20px;
}

.line-span {
    margin-left: 435px;
    background-color: #FFAE00;
    color: white; 
    font-size: 14px;
    font-family: Raleway,AdobeInvisFont,MyriadPro-Regular;
}

.hr {
    background-color: #FFAE00;
    margin-top: -10px;
}