* {margin: 0px;}
main {
    font-family: Lato;
}




.Header__container {
    width: 100%;
    height: 1072px;
    background-image: url(../img/block1.png);
    padding-top: 297px;
    padding-left: 50%;
    padding-right: 46%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Header__container__logo {
    width: 77px;
    height: 77px;
    margin-left: 55%;
}
.Header__container__title {
    font-family: Lato;
    font-size: 84px;
    font-weight: bold;
    letter-spacing: 6.64px;
    color: #ffffff;
    margin-top: 94px;
    margin-left: 25%;
}
.Header__container__subtitle {
    font-family: Lato;
    font-size: 35px;
    line-height: 1.93;
    letter-spacing: 0.9px;
    color: #ffffff;
    margin-top: 53px;
    margin-left: 25%;
}
.Header__container__scroll {
    width: 50px;
    height: 60px;
    margin-top: 245px;
    margin-left: 260px;
}



.AboutUs__container {
    width: 100%;
    height: 600px;
    padding-top: 150px;
    padding-left: 105%;
    padding-right: 0%;
}
.AboutUs--title {
    margin-top: -40px;
    position: relative;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 5.44px;
    text-align: center;
    color: #3c3c3c;
}
.AboutUs--title::before {
    content: '';
    width: 330px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-left: -420px;
    margin-top: 10px;
}
.AboutUs--title::after {
    content: '';
    width: 330px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 92px;
}
.form__AboutUs {
    width: 1200px;
    height: 312px;
    border-bottom: solid 2px   black;
    border-left: solid 2px   black;
    border-right: solid 2px   black;
    margin-left: 510px;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 59px;
}
.AboutUs--subtitle {
    font-family: Lato;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: justify;
    color: #3c3c3c;
    margin-left: 178px;
    margin-top: 77px;
    margin-right: 171px;
    padding-bottom: 40%;
}



.Services__container {
    width: 100%;
    height: 508px;
    background-image: url(../img/block2.png);
    padding-top: 150px;
    padding-left: 125%;
    padding-right: 115%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.form__Services {
    width: 899px;
    height: 251px;
    border-bottom: solid 2px  white;
    border-left: solid 2px  white;
    border-right: solid 2px  white;
    margin-left: 25%;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 29px;
}
.Services--title {
    width: 190px;
    height: 26px;
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5.44px;
    text-align: center;
    color: #ffffff;
    margin-top: -50px;
    position: relative;
    margin-left: 350px;
}
.Services--title::before {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    margin-left: -350px;
    margin-top: 20px;
}
.Services--title::after {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -20px;
    margin-left: 158px;
}
.Services--subtitle {
    width: 544px;
    height: 143px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
    color: #ffffff;
    margin-left: 181px;
    margin-top: 65px;
}



.WhatWeDo__container {
    width: 100%;
    height: 1415px;
    padding-top: 50px;
    padding-left: 115%;
    padding-right: 40%;
}
.form__WhatWeDo {
    width: 900px;
    height: 1182px;
    border-bottom: solid 2px   black;
    border-left: solid 2px   black;
    border-right: solid 2px   black;
    margin-top: 50px;
    margin-left: 510px;
    padding-bottom: 92px;
    margin-bottom: 114px;
}
.WhatWeDo--title {
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5.44px;
    text-align: center;
    position: relative;
    margin-top: -50px;
    margin-bottom: 113px;
}
.WhatWeDo--title::before {
    content: '';
    width: 288px;
    height: 2px;
    position: absolute;
    margin-left: -337px;
    margin-top: -3px;
    background-color: black;
}
.WhatWeDo--title::after {
    content: '';
    width: 288px;
    height: 2px;
    position: absolute;
    margin-top: -3px;
    margin-left: 50px;
    background-color: black;
}
.form__WhatWeDo__icon {
    width: 80px;
    height: 84px;
    margin-left: 409px;
    margin-bottom: 39px;
}
.form__WhatWeDo__title {
    width: 299px;
    height: 16px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3.2px;
    text-align: center;
    color: #3c3c3c;
    margin-left: 300px;
    margin-bottom: 37px;
}
.form__WhatWeDo__subtitle {
    width: 534px;
    height: 63px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    color: #3c3c3c;
    margin-left: 180px;
    margin-bottom: 110px;
}



.Gallery__container {
    width: 100%;
    height: 483px;
    padding-left: 60%;
    padding-right: 20%;
    display: block;
    margin-bottom: 40%;
}
.img--class1 {
    width: 1000px;
}
.img--class2 {
    width: 1450px;
}
.gallery__line {
    display: flex;
}
.Gallery__container__photo {
    margin-right: 9px;
    margin-bottom: 9px;
}
.Gallery__container__photo2 {
    margin-right: 9px;
}
.Gallery__container__img__title {
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5.44px;
    text-align: center;
    color: #ffffff;
    margin-top: -50px;
    margin-left: -50px;
}



.Contact__container {
    width: 100%;
    height: 500px;
    padding-left: 115%;
    padding-right: 40%;
}
.form__Contact {
    width: 899px;
    height: 293px;
    border-bottom: solid 2px  black;
    border-left: solid 2px  black;
    border-right: solid 2px  black;
    margin-left: 510px;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 29px;
    margin-bottom: 60px;
}
.Contact--title {
    width: 190px;
    height: 26px;
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5.44px;
    text-align: center;
    color: black;
    margin-top: -50px;
    position: relative;
    margin-left: 350px;
}
.Contact--title::before {
    content: '';
    width: 270px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-left: -350px;
    margin-top: 20px;
}
.Contact--title::after {
    content: '';
    width: 270px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: -20px;
    margin-left: 158px;
}
.Contact--subtitle {
    width: 543px;
    height: 66px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
    color: #3c3c3c;
    margin-top: 77px;
    margin-left: 178px;
    margin-bottom: 42px;
}
.form__button {
    width: 395px;
    height: 58px;
    border: solid 2px #3c3c3c;
    background-color: #3c3c3c;
    margin-left: 250px;
    margin-top: 30px;
}
.form__button__title {
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 2.56px;
    text-align: center;
    color: #ffffff;
}


/* footer container */
.Copyright__container {
    width: 100%;
    height: 100px;
    padding-bottom: 90px;
    padding-left: 170%;
    padding-right: 5%;
    display: flex;
}
.footer_logo {
    width: 35px;
    height: 35px;
    margin-right: 36px;
}
.footer__subtitle {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #3c3c3c;
    margin-top: 10px;
}





@media screen and (min-width: 1440px) {
    h1,h2,h3,h4,p,span {
        text-align: center;
    }
    .logo {
        margin-left: 25%;
    }
    .scroll {
        margin-left: 25%;
    }

    .AboutUs__container {
        margin-left: 35%;
    }

    .Services__container {
      padding: 1%;
    }
    .Services__content {
        margin-top: 15%;
        margin-left: 35%;
    }

    .WhatWeDo__container {
        margin-left: 25%;
    }

    .Gallery__container {
        margin-left: 65%;
    }

    .img--class1 {
        width: 790px;
    }
    .img--class2 {
        width: 1700px;
    }

    .Contact__container {
        margin-left: 25%;
    }

    .Copyright__container {
        margin-left: -15%;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }
    h1,h2,h3,h4,p,span {
        text-align: center;
    }

    .Header__container {
        width: 768px;
        height: 1072px;
        padding-left: 150%;
        padding-right: 150%;
        background-size: 100%;

    }
    
    .Header__container__logo {
        margin-left: 58%;
    }
    
    .Header__container__title {
        font-size: 44px;
    }
    
    .Header__container__subtitle {
        font-size: 24px;
    }
    
    .Header__container__scroll {
        margin-left: 60%;
    }

    .AboutUs__container {
        padding-left: 70%;
        padding-right: 0%;
    }

    .Services__container {
        width: 768px;
        padding-left: 125%;
        padding-right: 175%;
    }

    .WhatWeDo__container {
        width: 768px;
        padding-left: 90%;
        padding-right: 40%;
    }

    .Gallery__container {
        width: 768px;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .img--class1 {
        width: 800px;
    }
    
    .img--class2 {
        width: 1150px;
    }

    .Contact__container {
        width: 768px;
        padding-left: 90%;
        padding-right: 40%;
    }

    .Copyright__container {
        width: 768px;
        padding-left: 185%;
        padding-right: 5%;

    }
}

@media screen and (min-width: 375px) {
    body {
        width: 100%;
    }
    h1,h2,h3,h4,p,span {
        text-align: center;
    }
    .Header__container {
        width: 100%;
        height: 600px;
        padding-top: 0%;
        padding-left: 66%;
        padding-right: 50%;
    }
    .Header__content {
        margin-left: 40px;
    }
    .Header__container__logo {
        width: 30px;
        height: 30px;
        margin-top: 30px;

    }

    .Header__container__title {
        margin: 0%;
        margin-top: 30px;
        margin-left: 50px;
        font-size: 20px;
    }

    .Header__container__subtitle{
        margin: 0%;
        margin-top: 30px;
        margin-left: 50px;
        font-size: 15px;
    }

    .Header__container__scroll {
        margin: 0%;
        margin-top: 30px;
        margin-left: 170px;
    }

    .AboutUs__container {
        width: 375px;
        height: 500px;
        padding: 0%;
        margin-left: -100px;
    }
    .AboutUs--title {
        margin-top: -40px;
        position: relative;
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: 5.44px;
        text-align: center;
        color: #3c3c3c;
    }
    .AboutUs--title::before {
        content: '';
        width: 330px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-left: -420px;
        margin-top: 10px;
    }
    .AboutUs--title::after {
        content: '';
        width: 330px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-top: 10px;
        margin-left: 92px;
    }
    .form__AboutUs {
        width: 375px;
        height: 500px;
        margin-left: 510px;
        margin-top: -20px;
        padding-top: 30px;
        padding-bottom: 59px;
    }
    .AboutUs--subtitle {
        font-size: 6px;
    }

    .Services__container 

    .WhatWeDo__container

    .Gallery__container

    .img--class1 

    .img--class2

    .Contact__container

    .Copyright__container

}

